<html>
	<head>
		<title>Hi there fb</title>
	</head>
	<script src="http://timtrefren.com/fb.js?v=9"></script>
	<script>mpmetrics.init("a95f256858e816442d567825667f8d3d");
        mpmetrics.register({"shit": "damn"});
	</script>
    this is the body
    <input type="button" onclick="mpmetrics.track('fbjs_test', {'category':'button', 'action':null})"></input>
    <input type="button" onclick="mpmetrics.track('fbjs_test_none')"></input>
    <input type="button" onclick="mpmetrics.track_funnel('hai', 1, 'start', {'category':'button', 'action':'click'})"></input>
    <input type="button" onclick="mpmetrics.log({'category':'yeah', 'action':null})"></input>
    
</html>

